<div class="container" id="main-container" style="margin-bottom: 20px;">
    <p-button label="Filtro" [raised]="true" severity="secondary" (click)="mostrar()"></p-button>
    <form *ngIf="mostrarFiltro" style="margin: 20px;">
        <div class="card">
            <div class="flex flex-wrap gap-3 mb-4">
                <div class="flex-auto">
                    <label >Id</label>
                    <input type="number" [(ngModel)]="valorId" class="form-control" name="Id"/>
                </div>
                <div class="flex-auto">
                    <label >Username</label>
                    <input pInputText id="username" class="form-control" [(ngModel)]="valorName" class="form-control" name="Name">
                </div>
                <div class="flex-auto">
                    <label for="jobTitle" class="font-bold block mb-2"> JobTitle</label>
                    <select type="text" ngModel name="jobTitle" class="form-control" id="jobTile" placeholder="Job title" [(ngModel)]="valorJob" class="form-control" name="Job">
                        <option value="Senior">Senior</option>
                        <option value="Junior">Junior</option>
                        <option value="Manager">Manager</option>
                    </select>
                </div>
                <div class="flex-auto">
                    <label >Email</label>
                    <input pInputText id="email" class="form-control" [(ngModel)]="valorEmail" class="form-control" name="Email"/>
                </div>
                <div class="flex-auto">
                    <label >Phone</label>
                    <input pInputText id="phone" class="form-control" [(ngModel)]="valorPhone" class="form-control" name="Phone"/>
                </div>
            </div>
            <div class="card flex justify-content-center">
                <button pButton pRipple label="Aplicar Filtro" class="p-button-success" (click)="AplicarFiltro()"></button>
            </div>
        </div>
    </form>
   
</div>
<div class="container" id="main-container">
    <p-button label="Agregar Empleado" [raised]="true" severity="success" (click)="disparador('add')"></p-button>
    <p-button label="Eliminar Empleado" severity="danger" (click)="disparadorDelete(deleteEmployees)"></p-button>
    <p-button label="Modificar Empleado" severity="info" (click)="disparadorUpdate(empleadoComponente.editEmployee)"></p-button>
<div class="card">
    <p-table #dt [columns]="cols" 
    [value]="empleadoComponente.employees" 
    selectionMode="multiple" 
    [(selection)]="selectedEmployee"
    [paginator]="true" 
    [rows]="5"
    [showCurrentPageReport]="true"
    [exportHeader]="'customExportHeader'" 
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[5, 10, 20]"
    >
        <ng-template pTemplate="caption">
            <div class="flex">
                <button type="button" pButton pRipple icon="pi pi-file" (click)="dt.exportCSV()" class="mr-2" pTooltip="CSV" tooltipPosition="bottom"></button>
                <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
                <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
                <button type="button" pButton pRipple icon="pi pi-filter" (click)="dt.exportCSV({ selectionOnly: true })" class="p-button-info ml-auto" pTooltip="Selection Only" tooltipPosition="bottom"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{ col.header }}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData" (click)="seleccionFila(rowData)">
                <td *ngFor="let col of columns">
                    <div *ngIf="col.header == 'Image'">
                        <img style= "max-width: 40px" src={{rowData[col.field]}}/>
                    </div>   
                    <div *ngIf="col.header != 'Image'">
                        {{ rowData[col.field] }}  
                    </div>
                                    
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-table>
</div>
<app-agregar-empleado></app-agregar-empleado>
</div>
